Source: ignition-launch6
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: optional
Build-Depends: cmake,
               debhelper (>= 11),
               doxygen,
               libignition-cmake3-dev,
               libignition-common5-dev,
               libignition-gazebo7-dev,
               libignition-gui7-dev,
               libignition-msgs9-dev,
               libignition-plugin-dev,
               libignition-tools2-dev,
               libignition-transport12-dev,
               libsdformat13-dev,
               libtinyxml2-dev,
               libwebsockets-dev,
               qtquickcontrols2-5-dev,
               libqt5core5a,
               binutils-dev
Vcs-Browser: https://github.com/ignitionrobotics/ignition-launch
Vcs-Git: https://github.com/ignition-release/ign-launch6-release
Standards-Version: 4.5.1
Homepage: https://github.com/ignition-release/ign-launch6

Package: libignition-launch6
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Ignition Robotics Launch Library - Launch libraries
 Ignition Launch, a component of Ignition Robotics, provides a command line
 interface to run and manager application and plugins.
 .
 Package contains the ignition launch libraries

Package: libignition-launch6-dev
Architecture: any
Section: libdevel
Depends: libignition-cmake3-dev,
         libignition-common5-dev,
         libignition-gazebo7-dev,
         libignition-gui7-dev,
         libignition-msgs9-dev,
         libignition-plugin-dev,
         libignition-tools2-dev,
         libignition-transport12-dev,
         libsdformat13-dev,
         libtinyxml2-dev ,
         libwebsockets-dev,
         qtquickcontrols2-5-dev,
         libqt5core5a,
         libignition-launch6 (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends}
Multi-Arch: same
Description: Ignition Robotics Launch Library - Development files
 Ignition Launch, a component of Ignition Robotics, provides a command line
 interface to run and manager application and plugins.
 .
 Package contains the ignition launch development files and cli client
