Source: gz-launch6
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: optional
Build-Depends: cmake,
               debhelper (>= 11),
               doxygen,
               libignition-cmake3-dev,
               libignition-common5-dev,
               libignition-gazebo7-dev,
               libignition-gui7-dev,
               libignition-msgs9-dev,
               libignition-plugin-dev,
               libignition-tools2-dev,
               libignition-transport12-dev,
               libsdformat13-dev,
               libtinyxml2-dev,
               libwebsockets-dev,
               qtquickcontrols2-5-dev,
               libqt5core5a,
               binutils-dev
Vcs-Browser: https://github.com/gazebosim/gz-launch
Vcs-Git: https://github.com/gazebo-release/gz-launch6-release
Standards-Version: 4.5.1
Homepage: https://github.com/gazebosim/gz-launch

Package: libgz-launch6
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo Launch Library - Launch libraries
 Gazebo Launch, a component of Gazebo, provides a command line
 interface to run and manager application and plugins.
 .
 Package contains the Gazebo launch libraries

Package: libgz-launch6-dev
Architecture: any
Section: libdevel
Depends: libignition-cmake3-dev,
         libignition-common5-dev,
         libignition-gazebo7-dev,
         libignition-gui7-dev,
         libignition-msgs9-dev,
         libignition-plugin-dev,
         libignition-tools2-dev,
         libignition-transport12-dev,
         libsdformat13-dev,
         libtinyxml2-dev ,
         libwebsockets-dev,
         qtquickcontrols2-5-dev,
         libqt5core5a,
         libgz-launch6 (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Launch Library - Development files
 Gazebo Launch, a component of Gazebo, provides a command line
 interface to run and manager application and plugins.
 .
 Package contains the Gazebo launch development files and cli client

Package: libignition-launch6
Depends: libgz-launch6, ${misc:Depends}
Architecture: all
Priority: optional
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.

Package: libignition-launch6-dev
Depends: libgz-launch6-dev, ${misc:Depends}
Architecture: all
Priority: optional
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.
